tensorflow
matplotlib
pandas
numpy
jupyter
scipy
# Optional and not available on many Windows/Python combinations:
# tensorflow-io
tqdm
pyaudio
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator